* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lucida Grande";
}
  
a {
    text-decoration: none;
}
  
.clear {
    clear: left;
}
  
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

  
.fa {
    margin-right: 5px;
}
  
header {
    height: 65px;
    width: 100%;
    background-color: rgb(245, 122, 153);
    position :fixed;
    top: 0;
    z-index: 10;
}
  
.logo {
    width: 100px;
}
  
.atas-kiri {
    float: left;
    margin-top: 13px;
}
  
.atas-kanan {
    float: right;
    margin-right: -25px;
}
  
.atas-kanan a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}
  
.atas-kanan a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
  
.menu-icon{
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}
  
.bag-tengah {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f8d5d5;
    text-align: center;
    background-image: url(bg3.png);
}
  
.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}
  
.btn:hover {
    opacity: 10;
}
.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
}
  
.heading h2 {
    font-weight: normal;
}
  
.lesson {
    float: left;
    width: 33%;
}
  
.lesson-icon {
    position: relative;
}
  
.lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
}
  
.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #ff1c60;
}
  
  
.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}
  
.message {
    padding: 15px 40px;
    background-color: rgb(245, 122, 153);
    cursor: pointer;
    box-shadow: 0 7px rgb(165, 49, 78);
}
  
.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}
  
footer img {
    width: 125px;
}
  
footer p {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}
  
footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(245, 122, 153);
    text-align: center;
    position: relative;
}
  
@media all and (max-width: 1000px) {
    .heading h2 {
    font-size: 20px;
    }
    .lesson {
    width: 50%;
    margin-bottom: 50px;
    }
}
@media all and (max-width: 670px) {
    .btn {
        width: 100%;
        }
        
    .lesson {
    width: 100%;
    }
    footer {
    text-align: center;
    }
}