* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lucida Grande";
}
  
a {
    text-decoration: none;
}
  
.clear {
    clear: left;
}
  
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

  
.fa {
    margin-right: 5px;
}
  
header {
    height: 65px;
    width: 100%;
    background-color: rgb(245, 122, 153);
    position :fixed;
    top: 0;
    z-index: 10;
}
  
.logo {
    width: 100px;
}

.nav-links {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
  background: none;
  position: static;
  padding: 0;
}

.nav-links a {
  color: white;
  padding: 0 15px;
  line-height: 65px;
  transition: 0.3s;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

/* Tampilkan saat tombol diklik */
.nav-links.active {
  display: flex;
}

.atas-kiri {
    float: left;
    margin-top: 13px;
}
  
.menu-icon{
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}
  
.bag-tengah {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f8d5d5;
    text-align: center;
    background-image: url(bg3.png);
}
  
.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}
  
.btn:hover {
    opacity: 10;
}
.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
}
  
.heading h2 {
    font-weight: normal;
}
  
.lesson {
    float: left;
    width: 33%;
}
  
.lesson-icon {
    position: relative;
}
  
.lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
}
  
.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #ff1c60;
}
  
  
.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}
  
.message {
    padding: 15px 40px;
    background-color: rgb(245, 122, 153);
    cursor: pointer;
    box-shadow: 0 7px rgb(165, 49, 78);
}
  
.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}
  
footer img {
    width: 125px;
}
  
footer p {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}
  
footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(245, 122, 153);
    text-align: center;
    position: relative;
}
  
@media all and (max-width: 1000px) {
    .heading h2 {
    font-size: 20px;
    }
    .lesson {
    width: 50%;
    margin-bottom: 50px;
    }
}

 @media all and (max-width: 670px) {
  .nav-links {
    display: none; /* DISEMBUNYIKAN di HP */
    flex-direction: column;
    background-color: #f48ca3;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 10px;
    z-index: 999;
  }
     .nav-links.active {
    display: flex;
  }
    .btn {
    width: 100%;
    }
    
    .bag-atas {
    text-align: left;
    }
    .atas-kanan {
    display: none;
    }
    .menu-icon {
    display: block;
    }
    .bag-atas h1 {            
    font-size: 24px;            
    line-height: 36px;            
    }            
    .bag-atas p {            
    font-size: 14px;            
    line-height: 20px;            
    }
    .lesson {
    width: 100%;
    }
    footer {
    text-align: center;
    }
}
